<div class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Create new Group</h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="inputGroupName">Group name</label>
                        <input type="email" class="form-control" id="inputGroupName" placeholder="Name of your group"/>
                    </div>
                    <div class="form-group">
                        <label for="inputUniversity">University</label>
                        <select class="form-control" id="inputUniversity">
                            <option value="-KMbA50SGF3cnz-qOtJa">CityU Hong Kong</option>
                        </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="buttonGroupCreate">Create Group</button>
            </div>
        </div>
    </div>
</div>
