<p style="float:right;">
    <button id="btnAddUser" type="button" class="btn btn-primary">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
        Add user
    </button>
</p>

<h2 id="groupDetailName">{GROUP NAME}</h2>

<table class="table table-striped">
    <thead>
    <tr>
        <th>#</th>
        <th>Email</th>
        <th>Added</th>
        <th>Confirmed</th>
        <th style="width: 40px;"></th>
    </tr>
    </thead>
    <tbody id="containerUsers">
    </tbody>
</table>