<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Sign up today</h4>
        </div>
        <div class="modal-body">
            <form class="form-signin">

              <div class="form-group">
                <label htmlFor="exampleInputEmail1">Email address</label>
                <input type="email" class="form-control" id="inputEmail" placeholder="Email" />
              </div>

              <div class="form-group">
                <label htmlFor="exampleInputEmail1">Password</label>
                <input type="password" id="inputPassword1" class="form-control form-control-password-1" placeholder="1st time" required />
                <input type="password" id="inputPassword2" class="form-control form-control-password-2" placeholder="2nd time" required />
              </div>

              <div class="form-group">
                <label htmlFor="exampleInputEmail1">Your group name</label>
                <input type="text" class="form-control" id="inputGroupName" placeholder="Name of your group" />
              </div>

            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" id="buttonSignUp">Sign up</button>
        </div>
    </div>
  </div>
</div>
